* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#sizeTest:after {
  content: "small";
  display: none; }

body {
  font-family: sans-serif;
  margin: 0; }

@media all and (min-width: 410px) {
  #sizeTest:after {
    content: "large"; } }
